.container {
  padding-left: 60px;
  padding-right: 60px;
}

nav {
  height: 60px;
  background-color: grey;
  position: fixed;
  width: 100%;
}

nav .icon-img {
  height: auto;
  width:40px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav li {
  display:inline-block;
}


nav li::after {
  content: "|";
  margin-left: 5px;
}


a {
  background-color:transparent;
  -webkit-text-decoration-skip:objects;
  text-decoration:none;
}

a:active,a:hover {
  outline-width: 0;
  color: purple;
  text-decoration: underline;
}

body {
  height: auto;
  background-image: url(../images/outerspace_landscape.jpeg);
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;


}

main {
  padding-top: 90px;
  min-width: 1000px;
}

.dottedbox {
  margin-top: 150px;
  width: 600px;
  height: 300px;
  position: relative;
  border: 10px dotted green;
  margin-left: auto;
  margin-right: auto;
}

.spacecat{
  height:200px;
  width:200px;
  position:absolute;
  left: -86px;
  top: -82px;

}

.spacedog{
  height:200px;
  width:200px;
  position:absolute;
  right: -86px;
  bottom: -64px;
}
